nav > *{
    white-space: nowrap;
}

@media (max-width: 900px) {
    nav .left-nav > li:nth-child(n+3) {
        display: none;
    }
}

@media (max-width: 600px) {
    nav .right-nav > li:nth-child(2n+1) {
        display: none;
    }
}